{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier un film
{% endblock %}

{% block body %}
    <h1 class="mt-5">Modifier un Film</h1>

    {{ form_start(movieForm) }}
    {{ form_widget(movieForm) }}
    <button class="btn btn-primary" type="submit">Valider</button>
    {{ form_end(movieForm) }}

{% endblock %}